/* @import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);
body {
margin: 0;
padding: 0;
font-family: 'Montserrat', sans-serif;
}
.navbar-main ul{
  background-color: rgb(95, 95, 95);
  display: flex;
  align-items: center;
  grid-gap: 200px;
  list-style-type: none;
  color: black;
}
.logo img {
  width: 100px;
}
.navbar ul{
 background-color: white;
 display: flex;
 align-items: center;
 color: black;

} */